p{
    color:red;
    font-size:24px;
    background-color:blue;
    background-color:yellow;
}
p{
    color:red;
    font-size:24px;
    background-color:blue;
    background-color:yellow;
}
.paragraph-group{
    color:cornflowerblue;
    font:-size:35px;
    background-color:bisque;
    font:-size:24px;
}
.special-paragraph{
    font:-size:24px;
}
#uniqu-id{
    color:cornflowerblue;
}
a.paragraph-group{
    color:cornflowerblue;
}
#box1{
    width:100px;
    height:100px;
    background-color:cornflowerblue;
}
div div{
    width:30px;
    height:30px;
    background-color:red;
}
.box .box{
   
}
.box>.box{
    width:20px;
    height:20px;
    background-color:red;
}
p:hover{
    color:aqua;
}
p:active{
    color:red;
}
p.special-paragraph.paragraph-group:hover{
    color:red;
}
p.special-paragraph.paragraph-group:active{
    color:purple;
}